textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;

}
    

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

body {
    background-color: rgb(233, 233, 122);
    padding: 1rem; 
    padding-right: 5rem;
    padding-left: 5rem;
 
    text-align: center;
  }
g


header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  #btn-translate {
      border: none;
    padding: 0.8rem 1.3rem;
    background-color: rgb(136, 136, 100);
    border-radius: 5px;
    outline: none;
    color: white;
    display: block;
    margin: auto;
    font-size: large;
  }

  footer {
    text-align: center;
    background-color: orange;
     color: white;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }